<div class="auth-full-page">
  <div class="auth-split-wrapper">
    <div class="auth-form-side">
      <div class="auth-card">
        <div class="auth-header">
          <h1 class="logo">MY2<span>TEK</span></h1>
          <p>Rejoignez la communauté Tech</p>
        </div>

        <div class="tab-group">
          <button class="tab-btn" routerLink="/login">Connexion</button>
          <button class="tab-btn active">Inscription</button>
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger fade-in">
          <span class="icon">⚠️</span> {{ errorMessage }}
        </div>
        
        <div *ngIf="successMessage" class="alert alert-success fade-in">
          <span class="icon">✅</span> {{ successMessage }}
        </div>

        <form class="auth-form" (ngSubmit)="onRegister()">
          <div class="row">
            <div class="input-group">
              <label>Prénom</label>
              <input type="text" name="firstName" [(ngModel)]="userData.firstName" placeholder="Prénom" required>
            </div>
            <div class="input-group">
              <label>Nom</label>
              <input type="text" name="lastName" [(ngModel)]="userData.lastName" placeholder="Nom" required>
            </div>
          </div>
          
          <div class="input-group">
            <label>Email</label>
            <input type="email" name="email" [(ngModel)]="userData.email" placeholder="nom@exemple.tn" required>
          </div>
          
          <div class="input-group">
            <label>Localisation (Ville)</label>
            <input type="text" name="location" [(ngModel)]="userData.location" placeholder="Tunis, Nabeul...">
          </div>
          
          <div class="input-group">
            <label>Mot de passe</label>
            <input name="password" type="password" [(ngModel)]="userData.password" placeholder="••••••••" required>
          </div>
          
          <button type="submit" class="btn-primary" [disabled]="isLoading">
            <span *ngIf="!isLoading">Créer mon compte</span>
            <span *ngIf="isLoading" class="loader"></span>
          </button>
        </form>

        <div class="auth-footer">
          <p>Déjà inscrit ? <span routerLink="/login" class="link">Se connecter</span></p>
        </div>
      </div>
    </div>

    <div class="auth-image-side register-bg">
      <div class="image-overlay-text">
        <h2>Bienvenue chez MY2TEK</h2>
        <p>Accédez à des prix exclusifs sur tout l'électroménager.</p>
      </div>
    </div>
  </div>
</div>